# Machine Learning - Classification
## Navie Bayes Algorithm
## The First 3 are the most commonly used
#### 1. Gaussian Naive Bayes
#### 2. Multinomial Naive Bayes
#### 3. Bernoulli Naive Bayes          
#### 4. Categorical Naive Bayes
#### 5. Complement Naive Bayes

In [1]:
import pandas as pd

### Data Collection

In [2]:
dataset = pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

### Data preprocessing

In [4]:
dataset= pd.get_dummies(dataset,dtype = int,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset.shape

(400, 5)

In [7]:
dataset = dataset.drop('User ID', axis=1)

### Check the No of Unique classes and its count

In [8]:
dataset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [9]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

### Input Output split

In [10]:
indep = dataset[['Age','EstimatedSalary','Gender_Male']]
dep = dataset[['Purchased']]

### Train Test split

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(indep,dep,test_size=0.20,random_state=0)

### Train Set

### Model Creation - Gaussian Naive Bayes

In [12]:
from sklearn.naive_bayes import GaussianNB
Classifier = GaussianNB()
Classifier.fit(X_train,Y_train)
# Test Set
Y_pred = Classifier.predict(X_test)
### Evaluation Metrics 
### Confusion Matix
from sklearn.metrics import confusion_matrix
CM = confusion_matrix(Y_test,Y_pred)
### Evaluate -  Accuracy, Recall, Precision, F1 Score, Macro Average, Weighted Average
from sklearn.metrics import classification_report
Clf_report = classification_report(Y_test,Y_pred)
print(Clf_report)
print(CM)

              precision    recall  f1-score   support

           0       0.93      0.97      0.95        58
           1       0.90      0.82      0.86        22

    accuracy                           0.93        80
   macro avg       0.92      0.89      0.90        80
weighted avg       0.92      0.93      0.92        80

[[56  2]
 [ 4 18]]

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Model Creation - Multinomial Navie Bayes

In [13]:
from sklearn.naive_bayes import MultinomialNB
Classifier = MultinomialNB()
Classifier.fit(X_train,Y_train)
# Test Set
Y_pred = Classifier.predict(X_test)
### Evaluation Metrics 
### Confusion Matix
from sklearn.metrics import confusion_matrix
CM = confusion_matrix(Y_test,Y_pred)
### Evaluate -  Accuracy, Recall, Precision, F1 Score, Macro Average, Weighted Average
from sklearn.metrics import classification_report
Clf_report = classification_report(Y_test,Y_pred)
print(Clf_report)
print(CM)

              precision    recall  f1-score   support

           0       0.74      0.64      0.69        58
           1       0.30      0.41      0.35        22

    accuracy                           0.57        80
   macro avg       0.52      0.52      0.52        80
weighted avg       0.62      0.57      0.59        80

[[37 21]
 [13  9]]

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Model Creation - Bernoulli Navie Bayes

In [14]:
from sklearn.naive_bayes import BernoulliNB
classifier = BernoulliNB()
classifier.fit(X_train,Y_train)
Y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
CM = confusion_matrix(Y_test, Y_pred)
from sklearn.metrics import classification_report
Clf_report = classification_report(Y_test, Y_pred)              
print(Clf_report)
print(CM)

              precision    recall  f1-score   support

           0       0.72      1.00      0.84        58
           1       0.00      0.00      0.00        22

    accuracy                           0.72        80
   macro avg       0.36      0.50      0.42        80
weighted avg       0.53      0.72      0.61        80

[[58  0]
 [22  0]]

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

### Model Creation - Categorical Navie Bayes

In [15]:
from sklearn.naive_bayes import CategoricalNB
classifier = CategoricalNB()
classifier.fit(X_train,Y_train)
Y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
CM = confusion_matrix(Y_test, Y_pred)
from sklearn.metrics import classification_report
Clf_report = classification_report(Y_test, Y_pred)              
print(Clf_report)
print(CM)

              precision    recall  f1-score   support

           0       0.90      0.95      0.92        58
           1       0.84      0.73      0.78        22

    accuracy                           0.89        80
   macro avg       0.87      0.84      0.85        80
weighted avg       0.89      0.89      0.88        80

[[55  3]
 [ 6 16]]

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Model Creation - Complement Navie Bayes

In [16]:
from sklearn.naive_bayes import ComplementNB
classifier = ComplementNB()
classifier.fit(X_train,Y_train)
Y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
CM = confusion_matrix(Y_test, Y_pred)
from sklearn.metrics import classification_report
Clf_report = classification_report(Y_test, Y_pred)              
print(Clf_report)
print(CM)

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

              precision    recall  f1-score   support

           0       0.72      0.45      0.55        58
           1       0.27      0.55      0.36        22

    accuracy                           0.47        80
   macro avg       0.50      0.50      0.46        80
weighted avg       0.60      0.47      0.50        80

[[26 32]
 [10 12]]